.cache
crash-reports
datapacks
defaultconfigs
logs
saves
schematics
xaero
emi.json
options.txt
usercache.json
usernamecache.json
XaeroWaypoints_*
keybinding presets
journeymap
modernfix
.qmenu_opened.marker